<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bearden.unicalc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bearden.unicalc.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bearden.unicalc.calculator.CalculatorActivity"
            android:label="@string/title_activity_calculator"
            android:parentActivityName="com.bearden.unicalc.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unicalc.MainActivity" />
        </activity>
        <activity
            android:name="com.bearden.unicalc.converter.NumberConverterActivity"
            android:label="@string/title_activity_number_converter"
            android:parentActivityName="com.bearden.unicalc.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unicalc.MainActivity" />
        </activity>
        <activity
            android:name="com.bearden.unicalc.decider.DeciderActivity"
            android:label="@string/title_activity_decider"
            android:parentActivityName="com.bearden.unicalc.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bearden.unicalc.MainActivity" />
        </activity>
        <activity
            android:name="com.bearden.unicalc.networkhelper.IPActivity"
            android:label="@string/title_activity_ip"
            android:parentActivityName="com.bearden.unicalc.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bearden.unicalc.MainActivity" />
        </activity>
        <activity
            android:name="com.bearden.unicalc.colourpicker.ColourPickerActivity"
            android:label="@string/title_activity_colour_picker"
            android:parentActivityName="com.bearden.unicalc.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bearden.unicalc.MainActivity" />
        </activity>
        <activity
            android:name="com.bearden.unicalc.notepad.NotePadActivity"
            android:label="@string/title_activity_note_pad"
            android:parentActivityName="com.bearden.unicalc.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bearden.unicalc.MainActivity" />
        </activity>
        <activity
            android:name="com.bearden.unicalc.notepad.SingleNoteActivity"
            android:label="@string/title_activity_single_note"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bearden.unicalc.information.InformationActivity"
            android:label="@string/title_activity_information"
            android:parentActivityName="com.bearden.unicalc.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bearden.unicalc.scrum.ScrumActivity"
            android:label="@string/title_activity_scrum"
            android:parentActivityName="com.bearden.unicalc.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bearden.unicalc.MainActivity" />
        </activity>
    </application>

</manifest>